@charset "UTF-8";
@media screen and (max-width: 650px) {

  * {
    margin: 0px;
    padding: 0px;
  }



  .container img {
    width: 100%;
  }

  div.menu-pane {
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-105vw);
    width: 99%;
    height: 100%;
    transition: 0.6s ease-in-out;
    z-index: 1;
    font-size: 0.6em;
  }

  .container {
    height: 100vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .title {
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 80vw;
    margin: auto;
    font-family: 'Oswald', sans-serif;
  }

  .divi {
    height: 3px;
    background-color: rgb(0, 0, 0);
    width: 80vw;
    margin-top: 28px;
  }

  .content p {
    font-size: 15px;
    line-height: 18px;
  }

  .content a {
    font-size: 7px;

  }

  #bugatti,
  #rimac {
    width: 150px;
  }

  #bugatti {
    margin-bottom: 20px;
    margin-top: -500px
  }

  #rimac {
    margin-top: 20px;
    width: 180px
  }

  .parede {
    width: 100%;
    height: 100%;
    margin: 50px 0px;

  }

  .linha {
    height: 200px;
    margin: 0px 15px 0px 0px;
  }

  .perfil {
    background-position: left center;
    width: 800px;
    height: 15vh;

  }

  .proposito {
    font-size: 0.8em;
    margin: auto;
    padding-right: 10px;
  }

  .fundo {
    display: flex;
    flex-direction: column;
    height: 78vh;


  }

  .texto {
    font-size: 14px;
    line-height: 1.8;
  }

  .text-content {
    padding: 20px;
    height: 60%;
    font-size: 8px;
    line-height: 1.8;
  }

  .fundo2 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;

  }

  .foto1 {
    width: 100vw;
    height: 50vh;
  }

  #textaltura1 {
    font-size: 8px;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .foto2 {
    width: 100vw;
    height: 50vh;
  }

  .foto3 {
    width: 100vw;
    height: 40vh;
    transform: translateY(-60px);

  }

  .foto4 {
    width: 100vw;
    height: 40vh;
  }

  .imagens label {
    display: block;
  }

  .foto2:hover .text-content {
    opacity: 0;
  }

  .foto3:hover .text-content {
    opacity: 0;
  }

  .foto4:hover .text-content {
    opacity: 0;
  }

  .foto1:hover .text-content {
    opacity: 0;
  }

  .foto2:hover .text-content {
    opacity: 0;
  }

  .foto3:hover .text-content {
    opacity: 0;
  }

  .foto4:hover .text-content {
    opacity: 0;
  }

  .list {
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    z-index: -1;
    margin-left: calc(-5vw);
  }

  .linhas {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 1.3em;

  }

  .linhas a {
    margin: 20px;
    font-size: 0.9em;
  }

  .baixo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .baixo p,
  .baixo h3,
  .baixo a {
    font-size: 1em;
    padding: 5px;
  }

}




@media screen and (min-width: 651px) and (max-width: 1200px) {
  .container {
    height: 80vh;
  }

  div.menu-pane {
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-105vw);
    width: 92%;
    height: 100%;
    transition: 0.6s ease-in-out;
    z-index: 1;
    font-size: 1em;
  }

  .content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  /* .menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  } */

  .divi {
    height: 40vh;
    background-color: rgb(0, 0, 0);
    width: 1px;
  }

  .content p {
    font-size: 1.9em;
    line-height: 1.2em;

  }

  .content a {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    padding: 10px 20px;
  }



  #bugatti,
  #rimac {
    width: 150px;
  }

  #bugatti {
    margin-bottom: 20px;
  }

  #rimac {
    width: 180px;
    margin-top: 20px;
  }

  .rimac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fundo {
    height: 38vh;


  }

  .texto {
    font-size: 15px;
    line-height: 1.8;
    padding: 30px;
    width: 100%;
  }

  .text-content {
    padding: 40px;
    height: 40%;
    font-size: 15px;
    line-height: 1.8;
  }

  .imagens label {
    display: block;
  }


  .foto2:hover .text-content {
    opacity: 0;
  }

  .foto3:hover .text-content {
    opacity: 0;
  }

  .foto4:hover .text-content {
    opacity: 0;
  }

  .foto1:hover .text-content {
    opacity: 0;
  }

  .foto2:hover .text-content {
    opacity: 0;
  }

  .foto3:hover .text-content {
    opacity: 0;
  }

  .foto4:hover .text-content {
    opacity: 0;
  }



  .fundo2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  .foto1 {
    width: 100%;
    height: 100vh;
  }

  .foto2 {
    width: 100%;
    height: 100vh;
    transform: translateY(-0px);
  }

  .foto3 {
    width: 100%;
    height: 100vh;
    transform: translateY(-0px);

  }

  .foto4 {
    width: 100%;
    height: 100vh;
  }

  .parede {
    width: 100%;
    height: 100%;
    margin: 50px auto;
  }

  .linha {
    height: 250px;
    margin: 0px 15px 0px 0px;
  }

  .perfil {
    background-position: left center;
    width: 100%;
    height: 200px;

  }

  .proposito {
    font-size: 1.2em;
    margin: auto;
    margin-right: 5vw;
  }




}

@media screen and (min-width: 1201px) and (max-width: 1440px) {

  .container {
    height: 80vh;
    width: 90%;
    margin-top: 40px;
    margin-left: 40px;
  }
  .divi{
    height: 55vh;
  }
  .fundo{
    height: 78vh;
  }
  #align{
    margin-top: 50px;
  }
  
  .fundo2{
    width: 100%;
  }
  .foto1 {
    width: 100%;
    height: 100%;
  }
  
  .foto2 {
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
  }

  .foto3 {
    width: 100%;
    height: 100%;
    transform: translateY(-0px);

  }

  .foto4 {
    width: 100%;
    height: 100%;
  }
  .texto{
    font-size: 22px;
    line-height: 1.8;
    padding-top: 40px;
    width: 100%;
  }
  .text-content {
    padding: 25px;
    height: 45%;
    font-size: 12px;
    line-height: 1.6;
  }
  .parede {
    width: 100%;
    height: 50vh;
    margin: 50px 0px;
    padding-left: 150px;
  
  }
  
  .linha {
    height: 300px;
    margin: 0px 25px 0px 0px;
  }
  
  .perfil {
    background-position: left center;
    width: 70vw;
    height: 30vh;
    padding-right: 0px;
  
  }
  
  .proposito {
    font-size: 1.4em;
    margin:  auto;
    padding-right: 250px;
  }

}